.Section {
  background-color: white;
  border-radius: 0.75rem;
  padding: 1.25rem;
  border: 1px solid rgb(0 0 0 / 0.1);
  container-name: column;
  container-type: inline-size;
}

.Section__title {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.Section__subtitle {
  margin-top: -0.25rem;
  color: #4b5563;
  font-size: 0.95rem;
}

.Section__subtitle:last-child {
  margin-bottom: 0;
}

.Section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.Section__header-content {
  flex: 1;
}

.Section__header-actions {
  margin-left: auto;
}